<ion-view title="About Beata te'" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="aboutBeataTe-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Beata te' in Italian means "you don't know how lucky you are". The restaurant is the latest venture by Purple and Alberto of Chianti renown. Our Italian chef has inherited the tradition, while blending in the new concept of slow food diet.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <img src="img/Z59t5xdQSWqRScDtg3vw_Zero1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <ion-list id="aboutBeataTe-list7">
      <ion-item class="item-thumbnail-left" id="aboutBeataTe-list-item177">
        <img src="img/E07TBwJRiS6w3MJa1vNm_Purple.PNG">
        <h2>Purple</h2>
        <p style="white-space:normal;">Best selling author of three books. She enhances life by eating, eating healthy, and excel through bringing up the importance of diet in life</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="aboutBeataTe-list-item178">
        <img src="img/9EjuJnaQZqA8zpkDOGYM_Alby.PNG">
        <h2>Alberto Zambotti</h2>
        <p style="white-space:normal;">Owner of the well known Chianti Italian restaurant. He is committed to promote Italian cuisine, life style, culture and his unique sense of "The good life" in Taiwan.</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
  </ion-content>
</ion-view>