<ion-view title="myEvent" id="page28">
  <ion-content padding="false" class="has-header">
    <div class="spacer" style="width: 320px; height: 74px;"></div>
    <div id="myEvent-markdown77" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Name: {{data.name}}</p>
    </div>
    <div class="spacer" style="width: 320px; height: 20px;"></div>
    <div id="myEvent-markdown78" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Phone: {{data.phone}}</p>
    </div>
    <div class="spacer" style="width: 320px; height: 20px;"></div>
    <div id="myEvent-markdown79" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Event: {{data.event}}</p>
    </div>
    <div class="spacer" style="width: 320px; height: 20px;"></div>
    <div id="myEvent-markdown80" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Main course: {{data.food}}</p>
    </div>
    <div class="spacer" style="width: 320px; height: 53px;"></div>
    <button id="myEvent-button110" ng-click="submit()" ng-disabled="submitting" class="button button-dark button-block">SEND</button>
  </ion-content>
</ion-view>