<ion-view title="Our menu" id="page23">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="ourMenu-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="ourMenu-slide24" style="background:url(&quot;img/zixqFlKSO63jqnOxeBdu_Menu_1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="ourMenu-slide25" style="background:url(&quot;img/LrFGIriCRd2tgztw3IHD_Menu_2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="ourMenu-slide26" style="background:url(&quot;img/PrIRan9uShKufqfi6Bxr_Menu_3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="ourMenu-slide27" style="background:url(&quot;img/oFLgtsXIRfyInUCGTO9Z_Menu_3b.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="ourMenu-slide28" style="background:url(&quot;img/jKjivviPTt27ZuNlpwWD_Menu_4.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="ourMenu-slide29" style="background:url(&quot;img/fdfx4XSHRgKWleU6PAAd_Menu_5.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>