<ion-view title="請選擇套餐" id="page29">
  <ion-content padding="true" class="has-header">
    <div id="page29-markdown81" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">歡迎您來 </p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TIlsNhBSSWneKwvXI4nI_Choose.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <a ui-sref="ourMenu()" id="page29-button113" ng-click="set()" class="button button-dark button-block">請選擇套餐</a>
    <a ui-sref="events()" id="page29-button114" class="button button-dark button-block">你的活動</a>
    <a href-inappbrowser="https://www.youtube.com/watch?v=S9R1NVOF17E" id="page29-button115" class="button button-light button-block">影片</a>
  </ion-content>
</ion-view>