<ion-view title="活動" id="page10">
  <ion-content padding="false" class="has-header">
    <form id="page10-form19" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <label class="item item-input" id="page10-input24">
        <span class="input-label">名字</span>
        <input type="text" placeholder="" ng-model="data.name">
      </label>
      <label class="item item-input" id="page10-input25">
        <span class="input-label">電話</span>
        <input type="tel" placeholder="" ng-model="data.phone">
      </label>
      <label class="item item-select" id="page10-select219">
        <span class="input-label">活動</span>
        <select ng-repeat="day in days" ng-model="data.event">
          <option></option>
          <option>{{day.event0}}</option>
          <option>{{day.event1}}</option>
          <option>{{day.event2}}</option>
          <option>{{day.event3}}</option>
          <option>{{day.event4}}</option>
          <option>{{day.event5}}</option>
          <option>{{day.event6}}</option>
        </select>
      </label>
      <label class="item item-select" id="page10-select220">
        <span class="input-label">主菜</span>
        <select ng-model="data.food">
          <option></option>
          <option>漁</option>
          <option>肉</option>
          <option>素菜</option>
          <option>其它</option>
        </select>
      </label>
    </form>
    <a ui-sref="myEvent({&quot;name&quot;:&quot;&quot;+data.name+&quot;&quot;,&quot;phone&quot;:&quot;&quot;+data.phone+&quot;&quot;,&quot;event&quot;:&quot;&quot;+data.event+&quot;&quot;,&quot;food&quot;:&quot;&quot;+data.food+&quot;&quot;})" id="page10-button93"
      class="button button-dark button-block">再看一下</a>
  </ion-content>
</ion-view>