<ion-view title="Your menu or event" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="yourMenuOrEvent-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Welcome to our restaurant</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TIlsNhBSSWneKwvXI4nI_Choose.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <a ui-sref="ourMenu()" id="yourMenuOrEvent-button92" ng-click="set()" class="button button-dark button-block">See our menu</a>
    <a ui-sref="events()" id="yourMenuOrEvent-button107" class="button button-dark button-block">EVENTS</a>
    <a href-inappbrowser="https://www.youtube.com/watch?v=S9R1NVOF17E" id="yourMenuOrEvent-button109" class="button button-light button-block">Watch our Video</a>
  </ion-content>
</ion-view>